<div id = "holidayrequest_form">
  <% form_for @holidayrequests do |f| -%>
<p> <%= f.label :userid, "Username:" %><br />
  <%=f.text_field :userid%>
</p>
<p> <%=f.label :fullname, "Fullname:" %><br />
  <%= f.text_field :fullname %>
</p>
<p> <%= f.label :datefrom, "Date From:" %><br />
  <%=f.text_field :datefrom%>
</p>
<p> <%= f.label :dateto, "Date To:" %><br />
  <%=f.text_field :dateto%>
</p>
<p> <%= f.submit 'Save' %></p>
<% end -%>

</div>
